{% extends 'marketing_base.html' %}

{% block content %}
<div id="about-jumbotron" class="jumbotron">
	<div class="jumbotron-text">
		<img src="{{STATIC_URL}}/img/icon-speech-bike.png" />
		<div class="text-headline">
			<h2>About Microcosm</h2>
			<p>
				Microcosm is an open source project on <a href="https://github.com/organizations/microcosm-cc">GitHub</a>
			</p>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="contact-block">
				<p><strong>Email us at</strong></p>
				<p class="text-large">
					<a href="mailto:founders@microco.sm">founders@microco.sm</a>
				</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}