<div class="base-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <ul class="base-footer-links">
          <li>
            <strong>Microcosm</strong>
            <ul>
              <li><a href="{% url 'site-compare' %}">Compare &amp; Pricing</a></li>
              <li><a href="https://meta.microco.sm/">Support forums</a></li>
              <li><a href="{% url 'site-about' %}">About</a></li>
              {% comment %}
              <li><a href="{% url 'site-terms' %}">Terms &amp; Conditions</a></li>
              <li><a href="{% url 'site-privacy' %}">Privacy Policy</a></li>
              {% endcomment %}
            </ul>
          </li>
          <li>
            <strong>Developers</strong>
            <ul>
              <li><a href="https://meta.microco.sm/">Developer forums</a></li>
              <li><a href="http://microcosm-cc.github.io/">API documentation</a></li>
              <li><a href="https://github.com/microcosm-cc">Github</a></li>
            </ul>
          </li>
          <li>
            <strong>Contact</strong>
            <ul>
              <li><a href="mailto:founders@microcosm.cc">founders@microcosm.cc</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
